.home-page{

    .text-zone{
        position: absolute;
        left: 20%;
        top: 45%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
        text-align: left;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #f2622a;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #f2622a;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            margin-left: 400px;
            opacity: 0.6;
            animation: fadeIn 1s 1.7s backwards;
        }
    }

    .flat-button{
        color:#f2622a;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #f2622a;
        margin-top: 25px;
        float:left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        &:hover{
            background: #f2622a;
            color: #333;
        }
    }

}